<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <title>Newsletter</title>
  </head>
  <body
    style="
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
      background-color: #ffffff;
      font-family: 'Source Sans Pro', sans-serif;
    "
  >
    <div
      style="
        box-sizing: border-box;
        margin: 0px auto;
        background-color: #ffffff !important;
        padding: 0px;
        max-width: 595px !important;
        min-width: 450px !important;
        font-family: 'Source Sans Pro', sans-serif;
      "
    >
      <center>
        <!-- top header section -->
        <div style="margin: 20px 0px">
          <img
            width="110px"
            height="34px"
            src="https://d10srchmli830n.cloudfront.net/1630565062955_sticky-pickrr-logo.png"
          />
          <div style="font-size: 12px; color: #263f97">
            Intelligent Shipping Solution
          </div>
        </div>
        <p
          style="
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            text-align: center;
            color: #263f97;
          "
        >
          Dear {{ to_name }}
        </p>
        <div
          style="
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 28px;
            color: #263f97;
          "
        >
          Your Order is Out For Delivery
        </div>

        <!-- for status image -->
        <div style="margin: 42px auto">
          <img
            height="160px"
            src="https://d10srchmli830n.cloudfront.net/1631003371797_Frame.png"
            alt="banner-image"
          />
        </div>
        <p
          style="
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #38446d;
          "
        >
          Your order is arriving today. Your <strong>{{ company_name }}</strong> order is arriving in
          few hours.
        </p>
        <!-- for tracking content  -->

        <div
          style="
            background-color: #edf0f9;
            padding: 20px 10px;
            border-radius: 10px;
          "
        >
          <center>
            <table align="center" width="90%" border="0">
              <tr>
                <td
                  style="
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 120%;
                    color: #263f97;
                    text-align: left;
                  "
                >
                  TRACKING ID
                </td>
                <td
                  style="
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 120%;
                    color: #263f97;
                  "
                >
                  AWB
                </td>
                <td
                  style="
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 120%;
                    color: #263f97;
                  "
                >
                  COURIER
                </td>
                <td
                  style="
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 120%;
                    color: #263f97;
                    text-align: right;
                  "
                >
                  PAYMENT
                </td>
              </tr>
              <tr>
                <td
                  style="
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 120%;
                    color: #263f97;
                    padding: 10px 0px;
                    text-align: left;
                  "
                >
                  #{{ tracking_id }}
                </td>
                <td
                  style="
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 120%;
                    color: #263f97;
                    padding: 10px 0px;
                  "
                >
                  #{{ tracking_id }}
                </td>
                <td
                  style="
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 120%;
                    color: #263f97;
                    padding: 10px 0px;
                  "
                >
                  {{ courier_used }}
                </td>
                <td
                  style="
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 120%;
                    color: #263f97;
                    padding: 10px 0px;
                    text-align: right;
                  "
                >
                  {{ payment }}
                </td>
              </tr>
            </table>
            <div>
              <img
                style="width: 100%; padding: 20px 0px; cursor: not-allowed"
                src="https://d10srchmli830n.cloudfront.net/1631628950557_Group 11382.png"
                alt="stepper"
              />
            </div>
            <a href="https://www.pickrr.com/tracking/#?tracking_id={{ tracking_id }}" style="text-decoration: none">
              <span
                style="
                  font-style: normal;
                  font-weight: bold;
                  font-size: 14px;
                  text-align: center;
                  color: #ffffff;
                  background-color: #ff756c;
                  padding: 10px 30px;
                  border-radius: 10px;
                "
              >
                Track order
              </span>
            </a>
          </center>
        </div>

        <div>
          <table
            align="center"
            width="100%"
            border="0"
            cellspacing="0"
            style="margin: 20px 0px"
          >
            <tr style="background-color: #edf0f9">
              <td
                style="
                  font-style: normal;
                  font-weight: bold;
                  font-size: 12px;
                  color: #263f97;
                  padding: 10px;
                  border-radius: 10px 0px 0px 10px;
                "
              >
                ITEM SHIPPED
              </td>
              <td
                style="
                  font-style: normal;
                  font-weight: bold;
                  font-size: 12px;
                  color: #263f97;
                "
              >
                QTY
              </td>
              <td
                style="
                  font-style: normal;
                  font-weight: bold;
                  font-size: 12px;
                  color: #263f97;
                  border-radius: 0px 10px 10px 0px;
                  text-align: right;
                  padding: 10px;
                "
              >
                AMOUNT
              </td>
            </tr>
            {% for item in item_list %}
            <tr>
              <td style="
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                color: #38446d;
                padding: 10px;
              ">
                {{ item.item_name }}
              </td>
              <td style="
              font-style: normal;
                font-weight: normal;
                font-size: 12px;
                color: #38446d;
                padding: 10px;
              ">
                {{ item.quantity }}
              </td>
              <td style="
                  font-style: normal;
                  font-weight: normal;
                  font-size: 12px;
                  color: #38446d;
                  text-align: right;
                  padding: 10px;
                ">
                {{ item.price }}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>

        <!-- for horizontal line -->
        <hr style="border: 0.1px solid #c5cde3" />
        <table width="100%" border="0">
          <tr>
            <td
              style="
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 120%;
                color: #263f97;
                padding: 10px 0px;
              "
            >
              TOTAL
            </td>
            <td
              style="
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 120%;
                color: #263f97;
                padding: 10px 0px;
                text-align: right;
              "
            >
              {{ total_price }}
            </td>
          </tr>
        </table>
        <!-- for horizontal line -->
        <hr style="border: 0.1px solid #c5cde3" />
        <p
          style="
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: #263f97;
            text-align: left;
          "
        >
          SHIPPING DETAILS
        </p>

        <table width="100%">
          <tr>
            <td
              style="
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                color: #38446d;
              "
            >
              DELIVERY ADDRESS
            </td>
            <td
              style="
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                color: #38446d;
              "
            >
              SELLER DETAILS
            </td>
          </tr>
          <tr>
            <td
              style="
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 120%;
                color: #38446d;
              "
            >
              {{ to_name }}
            </td>
            <td
              style="
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 120%;
                color: #38446d;
              "
            >
              {{ company_name }}
            </td>
          </tr>
          <tr>
            <td
              style="
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 120%;
                color: #38446d;
              "
            >
              {{ to_address }}, {{ to_city }}, {{ to_state }}
              {{ to_pincode }}
            </td>
            <td
              style="
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 120%;
                color: #38446d;
              "
            >
              {{ from_phone_number }}
            </td>
          </tr>
        </table>
        <p
          style="
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: #263f97;
            text-align: left;
          "
        >
          Note :-
        </p>
        <div
          style="
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 120%;
            color: #38446d;
            text-align: left;
          "
        >
          If the outer packaging has been tampered with, ripped, pressed, or is
          otherwise damaged, you can refuse acceptance of the delivery and write
          your comments on the proof of delivery (POD) slip that the delivery
          executive presents. If you receive an incorrect or damaged product
          after delivery, please take pictures or record a video of the disputed
          item and share it with the seller as soon as possible.
        </div>

        <div
          style="
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: #263f97;
            text-align: left;
            margin-top: 50px;
          "
        >
          Best Regards!
        </div>
        <div
          style="
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: #263f97;
            text-align: left;
          "
        >
          Team Pickrr
        </div>
        <!-- for horizontal line -->
        <hr style="border: 0.1px solid #c5cde3" />

        <!-- social media icons -->
        <center>
          <table align="center">
            <tr>
              <td>
                <a href="https://www.linkedin.com/company/pickrr/mycompany/">
                  <img
                    style="padding: 10px; width: 17px; height: 17px"
                    src="https://d10srchmli830n.cloudfront.net/1615901039360_linkedin.png"
                    alt="linkedin-icons"
                  />
                </a>
              </td>
              <td>
                <a href="https://www.facebook.com/pickrr/photos/">
                  <img
                    style="padding: 10px; width: 17px; height: 17px"
                    src="https://d10srchmli830n.cloudfront.net/1616672009473_facebook.png"
                    alt="twitter-icons"
                  />
                </a>
              </td>
              <td>
                <a href="https://www.instagram.com/pickrr_/?hl=en">
                  <img
                    style="padding: 10px; width: 17px; height: 17px"
                    src="https://d10srchmli830n.cloudfront.net/1615901006025_icon10.png"
                    alt="instagram"
                  />
                </a>
              </td>
            </tr>
          </table>
        </center>

        <div
          style="
            background-color: #263f97;
            color: #ffffff;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            padding: 20px 0px;
          "
        >
          Plckrr Technologies Pvt Ltd
          <p
            style="
              margin: 13px 0 0;
              font-size: 12px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.33;
              letter-spacing: normal;
              text-align: center;
              color: #d5e8f3;
            "
          >
            Copyright © Pickrr technologies Pvt. All Rights Reserved.
          </p>
        </div>
      </center>
    </div>
  </body>
</html>
